@import './colors.scss';

.tileDiv {
  width: 28%;
  min-width: 250px;
  margin: 1em 0 3em 0;
}

.tileA {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 0 5ch 0;
  padding: 0 3% 2% 3%;
  height: 85%;
}

.tileP {
  text-align: center;
  font-size: 175%;
  font-weight: bold;
  padding: 5% 0 3% 0;
  color: $textAccentColor;
}

.tileImgDiv {
  position: relative;
  width: 95%;
  height: 45vh;
  min-height: 150px;
  margin: auto;
  z-index: 50;
}

.tileImg {
  width: 100%;
  height: 100%;
  opacity: 1;
  margin: 0;
  padding: 0;
  object-fit: cover;
  object-position: 0 0;
}

.tileImgDescriptionDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  font-size: 150%;
  font-weight: bold;
  color: $textAccentColorLight;
  top: 0%;
  left: 0%;
  margin: 0;
  padding: 0;
  opacity: 0;
  text-align: center;
}

.tileImgDescriptionP {
  overflow-y: auto;
}

.tileImgDiv:hover {
  .tileImg {
    opacity: .2;
  }
  .tileImgDescriptionDiv {
    opacity: 1;
  }
}

@media (max-height: 50em) {
  .tileP {
    font-size: 125%;
  }
  .tileImgDescriptionDiv {
    font-size: 90%;
  }
}
